* {
    font-size: medium;
}

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    min-width: 400px;
}

/* main styles */
main {
    margin: 0 10%;
}

/* footer */
footer {
    margin-top: 2%;
    background: #1c1d1f;
}